//header
header .logIN_Area .deco .icon {
    background: url(../img/icon/loginICON.png) no-repeat center;
    background-size: 100%;
}

//mainWrap
.mainWrap .member_ic {
    background: url(../img/icon/member_ic.png) no-repeat;
    background-size: 100%;
}
.mainWrap .gameType li {
    background: url(../img/gameTypeNav.png) no-repeat;
    background-size: 100%; 
}
.mainWrap .gameType .midLine {
    background: url(../img/icon/midLine.png) no-repeat bottom center;
    background-size: 100%;
}
.mainWrap .gamePic.b36 {
    background: url(../img/entrance/b36.png) no-repeat;
    background-size: 100%;
}
.mainWrap .gamePic.pp {
    background: url(../img/entrance/pp.png) no-repeat;
    background-size: 100%;
}
.mainWrap .gamePic.wm {
    background: url(../img/entrance/wm.png) no-repeat;
    background-size: 100%;
}
.mainWrap .gamePic.rsg {
    background: url(../img/entrance/rsg.png) no-repeat;
    background-size: 100%;
}
.mainWrap .gamePic.png {
    background: url(../img/entrance/png.png) no-repeat;
    background-size: 100%;
}
.mainWrap .gamePic.jili {
    background: url(../img/entrance/jili.png) no-repeat;
    background-size: 100%;
}

//footer
.fNav_ic.home {
    background: url(../img/icon/nav_home.png) no-repeat;
    background-size: 100%;
}
.fNav_ic.promotion {
    background: url(../img/icon/nav_promotion.png) no-repeat;
    background-size: 100%;
}
.fNav_ic.wallet {
    background: url(../img/icon/nav_wallet.png) no-repeat;
    background-size: 100%;
}
.fNav_ic.cs {
    background: url(../img/icon/nav_cs.png) no-repeat;
    background-size: 100%;
}
.fNav_ic.member {
    background: url(../img/icon/nav_member.png) no-repeat;
    background-size: 100%;
}

//bg 
.bg {
    background: url(../img/bg.png) center center;
    background-size: cover;
}